<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net>
    <appender name="debug" type="log4net.Appender.RollingFileAppender">
      <file value="log\debug.txt" />
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Composite" />
      <countDirection value="1" />
      <maximumFileSize value="10MB" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="-1" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level %logger %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
    </root>
    <logger name="debug" additivity="false">
      <level value="All" />
      <appender-ref ref="debug" />
    </logger>
  </log4net>
  <system.diagnostics>
    <sources>
      <source name="debug" switchValue="All">
        <listeners>
          <add name="debug" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="debug" type="D3K.Diagnostics.Log4net.Log4netTextWriterTraceListener, D3K.Diagnostics.Log4net" initializeData="debug" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <runtime>
  </runtime>
</configuration>