<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Debug:serilog:using:Thread" value="Serilog.Enrichers.Thread" />
    <add key="Debug:serilog:enrich:WithThreadId" />

    <add key="Debug:serilog:enrich:FromLogContext" />

    <add key="Debug:serilog:using:File" value="Serilog.Sinks.File" />
    <add key="Debug:serilog:write-to:File.path" value="logs\debug.txt" />
    <add key="Debug:serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.ffff} [{pid}] [{ThreadId,-3}] [{Level:u3}] {Message:lj}{NewLine}" />

    <add key="Debug:serilog:using" value="Serilog.Sinks.Elasticsearch"/>
    <add key="Debug:serilog:write-to:Elasticsearch.nodeUris" value="http://localhost:9200"/>
    <add key="Debug:serilog:write-to:Elasticsearch.restrictedToMinimumLevel" value="Verbose"  />
    <add key="Debug:serilog:write-to:Elasticsearch.typeName" value="_doc"/>
  </appSettings>
</configuration>