<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Debug:serilog:using:File" value="Serilog.Sinks.File" />
    <add key="Debug:serilog:write-to:File.path" value="logs\debug.txt" />
    <add key="Debug:serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{pid}] [{ThreadId,-3}] [{Level:u3}] {Message:lj}{NewLine}{Exception}" />
  </appSettings>  
</configuration>
