<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="Debug" type="log4net.Appender.RollingFileAppender">
    <file value="logs\debug.txt" />
    <countDirection value="1" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{pid}][%-3thread] %-5level %logger %message%newline" />
    </layout>
  </appender>
  <logger name="Debug" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="Debug" />
  </logger>
</log4net>