<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <extensions>
      <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>
    
    <target name="File" type="File" fileName="logs\debug.txt" concurrentWrites="true" 
            layout="${longdate} [${mdlc:item=pid}][${threadid:padding=-3}] ${level:padding=-5} ${logger} ${message}${exception:format=tostring}"/>
    
    <target name="ElasticSearch" xsi:type="ElasticSearch" uri="http://localhost:9200/" index="logstash-${date:format=yyyy.MM.dd}" includeAllProperties="true"
            layout="${longdate} [${mdlc:item=pid}][${threadid:padding=-3}] ${level:padding=-5} ${logger} ${message}${exception:format=tostring}">
      <field name="pid" layout="${mdlc:item=pid}"/>
      <field name="threadid" layout="${threadid}"/>
      <field name="logger" layout="${logger}"/>
    </target>
  </targets>
  <rules>
    <logger name="Debug" minlevel="Debug" writeTo="File, ElasticSearch"/>
  </rules>
</nlog>